




      <div class="jumbotron">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
                    <div class="item active">
                      <%= image_tag('macbook.jpg', class: "img-rounded") %>
                       <div class="carousel-caption">
                          <h1></h1>
                          <!--<p class="lead">Speak Your Mind!</p>-->
                       <p><%= link_to "Sign Up", "#", :class => "btn btn-lg btn-success", :role => "button"%></p>   
                       </div>
                    </div>
          </div>
        </div>
        <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Learn More on Udemy</a></p>-->
      </div>
<div class="row marketing">
        <div class="col-lg-6">
          <h4>Principal Developer</h4>
          <p>Developed by William Voll (@zdweeb) and Nordiosoft LLC, @www.nordiosoft.com</p>

          <h4>Ruby on Rails</h4>
          <p>Fullstack web application development with Ruby on Rails, @www.rubyonrails.org</p>

          <h4>Bootstrap</h4>
          <p>Styling made easy with Boostrap, @www.getbootstrap.com</p>
        </div>

        <div class="col-lg-6">
          <h4>Udemy</h4>
          <p>The elite place to learn, Udemy @www.udemy.com</p>

          <h4>Mashur Hossain</h4>
          <p>The complete Ruby on Rails course by Mashur Hossain</p>

          <h4>Rob Percival</h4>
          <p>The complete Ruby on Rails course by Rob Percival</p>
        </div>
      </div>






    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

