// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo a:link {
  text-decoration: none;
}

#logo a:hover {
  text-decoration: none;
  color: #337ab7;
}

.carousel-caption{
  color: #000;
  // padding-bottom: 160px;
}

ul.nav > li span.glyphicon {
    width: 18px;
}

.article-actions{
  border-top: 1px solid #337ab7;
  padding-top: 10px;
}

.description{
  margin-top: 0;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}
.article-body{
  border-top: 1px solid #337ab7;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details{
  font-weight: bold;
  color: #337ab7;
  padding-top: 15px;
}
